.faq-section {
    .heading {
        h1::before {
            content: 'Frequestly Asked Questions';
        }
    }

    .parent.open {
        width: 30em;
        height: 20em;
        border-radius: 12px;
        // transform: translate(-50%, -50%)!important;
        font-weight: 600;
        z-index: 10;
        .answer{
            font-size: 1.5em;
            line-height: 1.5em;
            font-weight: 300;
        }
    }

    .accordion{
        @apply max-w-[50em] border-b-2 border-[#1c1c1c] focus:border-none;
        .body{
            @apply text-lg px-6 py-5;
        }
        button{
            @apply w-[100%] p-5 font-bold;
        }
    }
}